body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cor de fundo */
    color: #d31242; /* Cor do texto */
}

header {
    background-color: #d81414; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

section {
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
